@font-face{
	src: url("../2021portfolio/font/LiberationSerif-Bold.woff");
    font-family: "eng_bold"; 
}
@font-face{
	src: url("../2021portfolio/font/LiberationSerif-BoldItalic.woff");
    font-family: "eng_italic"; 
}

html{
    font: 14px 'eng_bold';
}
body{
    overflow-x: hidden;
    letter-spacing: -0.05em;
    background: #41A26B;
}
p{
    line-height: 1.6;
}
a{
    color: black;
    text-decoration: none;
}

/* header stert */
.nav{
    float: left;
    position: relative;
    left: 0;
    width: 100%;
    height: 79px;
    padding: 0 1rem;
}
.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: solid 1px;
}
.header_items{
    margin-right: 20px;
}
.header_items:nth-child(2){
    margin: 0;
}

.left_box{
    position: absolute;
    bottom: 154px;
    left: 100px;
    width: 231px;
    height: 230px;
    border: solid 1px;
}
.eye{
    position: absolute;
    width: 138px;
    height: 230px;
    border: solid 1px;
    border-radius: 50%;
    /* transform:scale(.9) */
}
.eye01{
    left: 0;
}
.eye02{
    right: 0;
}
.iris{
    position: absolute;
    left: 45px;
    bottom: 0;
    width: 30px;
    height: inherit;
}
.iris::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: inherit;
    height: 30px;
    border-radius: 50%;
    border: solid 1px;
}
.iris::after{
    content: "";
    display: block;
    position: absolute;
    left: 18px;
    top: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}


.right_box{
    position: absolute;
    top: 154px;
    right: 100px;
    width: 231px;
    height: 390px;
    background: salmon;
}
.clock_wrap{
    width: 100%;
    height: 265px;
    border: solid 1px;
}
.marquee{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 231px;
    height: 115px;
    border: solid 1px;
}
.marquee div{
    display: block;
    width: 270%;
    position: absolute;
    overflow: hidden;
    font-size: 48px;

    animation: marquee 5s linear infinite;
}
.marquee span{
    float: left;
    width: 50%;
}
@keyframes marquee{
    0% { left: 0; }
    100% { left: -135%; }
}

.top_button{
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1px;
    box-sizing: border-box;
    border-radius: 40px;
    bottom: 41px;
    right: 249px;
}
.top_button>img{
    padding: 21px 40px 21px 27px;
    /* cursor: crosshair; */
}

/* header end */

/* contents start */
.container{
    float: left;
    position: relative;
    width: 100%;
}
/* home start */
.scroll_section{
    width: 100%;
    margin: 0 auto;
    height: 850px;
    border: dotted 1px orange;
}
#scroll_section_0{
    position: relative;
    top: 0;
    left: 0;
    max-width: 1200px;

}
.home_receipt{
    background: #F6E27A;
    position: absolute;
    bottom: 0;
    height: 800px;
    width: 29.1%;
}
.home_receipt>img{
    position: relative;
    left: 50%;
    margin-left: -128.5px;
    margin-top: 60px;
}
.home_receipt>p{
    text-align: center;
    font: 1rem "Source Code Pro";
    font-weight: 200;
}
.home_receipt_list{
    margin: 0 auto;
    height: 220px;
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
}
.home_receipt_list>li{
    display: flex;
    font: 1.429rem "Noto Sans KR";
    align-items: center;
    margin-top: 15px;
}
.check-box{
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px;
    margin-right: 10px;
}
.home_receipt_list>h1{
    font: 1.714rem 'eng_italic';
    height: 35px;
    text-align: center;
    border-bottom: dotted 1px;
}
.home_receipt_list>h1::before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: black;
    position: absolute;
    top: 10px;
    left: 60px;
}
.home_receipt_list>h1::after{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: black;
    position: absolute;
    top: 10px;
    right: 60px;
}


.home_menu{
    background: #00794B;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 800px;
    width: 69.1%;
    box-sizing: border-box;
    border: solid 1px ;
}
/* home end */

/* contents end */